*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Space Mono';
}

body{
    background-color:hsl(185, 41%, 84%);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
    min-width:375px;
    height:100%;

    
    
}

h1{
    
    margin-top:20px;
    
    overflow-wrap:break-word;
    color:rgba(0, 0, 0, 0.505);
    letter-spacing:12px;
    font-size:24px;
    width:109px;
}

main{
    display:flex;
    flex-direction:column;
    
    gap:20px;
    background-color:white;
    border-radius:15px;
    padding:25px;
    width:100%;
    
    
}

label{
    color:rgba(0, 0, 0, 0.505);
    width:100%;
}

.text-inputs{
    position:relative;
    display:flex;
    color:rgba(0, 0, 0, 0.505);
    justify-content:flex-end;
    
    
    gap:5px;
    flex-direction:column;
    
}

.text-inputs input{
    display:flex;
    justify-content:flex-end;
    text-align:right;
    font-size:20px;
    
    background-color:hsl(185, 41%, 84%, 0.384);
    border:none;
    border-radius:5px;
    padding:10px;
    
}
.text-inputs img {
    position:absolute;
    top:45px;
    left:12px;
    font-size:22px;
    font-weight:500;
    color:rgba(0, 0, 0, 0.267);
    
}

.tip form{
    display:flex;
    justify-content:center;
    
    
    flex-wrap:wrap;
    gap:10px;
}

.tip form input{
    font-size:20px;
    width:155px;
    padding:5px 0px;
    background:hsl(183, 100%, 15%);
    border-radius:5px;
    border:none;
    text-align:center;
    color:white;
}

.tip form input:focus{
    background-color:hsl(172, 82%, 35%);
}

h3{
    font-size: 16px;
    color:white;
    line-height:20px;
}

span{
    color:hsl(172, 82%, 35%);
    font-size:13px;
    
}

.results{
    background-color:hsl(183, 100%, 15%);
    border-radius:10px;
    padding:20px 20px;
    display:flex;
    flex-direction:column;
    flex-grow:1;
    gap:20px;
    
}

.tip-per-person{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.tip-total, .tip-per-person p{
    font-size:25px;
    color:hsl(172, 82%, 35%);;
}

.tip-total{
    display:flex;
    justify-content:space-between;
    align-items:center;

}

.reset{
    border-radius:5px;
    background-color:hsl(172, 82%, 35%);
    padding:10px;
    font-size:17px;
    letter-spacing:1px;
    color:rgba(0, 0, 0, 0.636);
    
}



